<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= @letter.name %>
  </head>
  <body>
  Look, lazy admin! You have a new spam letter! <br />
  ================================= <br />
  <%= @letter.message %>
  </body>
</html>
